@page
@model BulkyWebRazor_Temp.Pages.Categories.DeleteModel
@{
}




<form method="post">
    <!--Since we are creating the category, we have a method of post. p-3 is padding 3 and mt-4 is margin-top of four. post mans that when the button is pushed, it will hit the same endpoint with the post request. for that we need to create another action request inside teh category controller which willbe of the same name but it will be of teh type httppost so that everytime something is being posted, this endpoint will be invoked-->
    <input asp-for="Category.Id" hidden /> <!--We have id in the hidden property and it is populated. no majic happened-->
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr /> <!--followed by a horizontal line-->
        </div>
        @* <div asp-validation-summary="ModelOnly"> </div>  *@<!--This writes out all the applicable error messages-->
        <div class="mb-3 row  p-1">
            <!--margin bottom 3-->
            <label asp-for="Category.Name" class="p-0"></label>
            <input asp-for="Category.Name" disabled class="form-control" /> <!--form-control makes it stretch all the way out-->
            @* <span asp-validation-for="Name" class="text-danger"></span> *@
            <!--text-danger makes the text red. Having the helper tag is what helps us print out the error message->
            </div>


            <div class="mb-3 row p-1">
                <!--margin bottom 3-->
            <label asp-for="Category.DisplayOrder" class="p-0"></label>
            <input asp-for="Category.DisplayOrder" disabled class="form-control"   /> <!--form-control makes it stretch all the way out-->
            @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> We don't have any validation when we delete and the field are disabled. User cannot edit anything*@
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <!--if the screen is medium or large, you can take 3 columns-->
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <!--we want a button to go back to the previous page. that will be a link-->
                <a asp-page="/Categories/Index" class="btn btn-outline-secondary border form-control">Back</a>
            </div>
        </div>

    </div>
</form>


