@page
@model BulkyWebRazor_Temp.Pages.Categories.EditModel
@{
}


<form method="post">
    <!--Since we are editing the category, we have a method of post. p-3 is padding 3 and mt-4 is margin-top of four. post mans that when the button is pushed, it will hit the same endpoint with the post request. for that we need to create another action request inside teh category controller which willbe of the same name but it will be of teh type httppost so that everytime something is being posted, this endpoint will be invoked-->
    <!--We don't have id in a field. Typically we require that in an input field like below  and then we would make it hidden-->
    <!--But only because the variable name is ID. This line or input variable is not required.If for some reason your ID was category ID or anything else, then you will have to add the hidden property. Else What will happen is, rather than editing an existing record, it will keep that record and it will add a new record.-->
    <input asp-for="Category.Id" hidden/> @* If for some reason your ID was category ID or anything else, then you will have to add the hidden property. Else What will happen is, rather than editing an existing record, it will keep that record and it*@ 
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
            <hr /> <!--followed by a horizontal line-->
        </div>
        <div asp-validation-summary="ModelOnly"> </div> <!--This writes out all the applicable error messages-->
        <div class="mb-3 row  p-1">
            <!--margin bottom 3-->
            <label asp-for="Category.Name" class="p-0"></label>
            <input asp-for="Category.Name" class="form-control" /> <!--form-control makes it stretch all the way out-->
            <span asp-validation-for="Category.Name" class="text-danger"></span>
            <!--text-danger makes the text red. Having the helper tag is what helps us print out the error message->
            </div>


            <div class="mb-3 row p-1">
                <!--margin bottom 3-->
            <label asp-for="Category.DisplayOrder" class="p-0"></label>
            <input asp-for="Category.DisplayOrder" class="form-control" /> <!--form-control makes it stretch all the way out-->
            <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <!--if the screen is medium or large, you can take 3 columns-->
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <!--we want a button to go back to the previous page. that will be a link-->
                <a asp-page="/Categories/Index" class="btn btn-outline-secondary border form-control">Back</a>
            </div>
        </div>

    </div>
</form>


<!--Since this partial view only has scripts, we will have to add that in a new section that is only for scripts-->
@section Scripts {
    @{
        //This is razor syntax. And when we have to consume any partial view, we use the partial tag
        <partial name="_ValidationScriptsPartial" />
        //Thus, we have added the parial view in the scripts section of the View page
    }
}
